.navbar{
    height: auto;
    padding: 1%;
    float: right;
}
h3{
    text-decoration: underline;
    color: rgb(56, 182, 255);
    padding-left: 14px;
    text-transform: uppercase;
    font-style: italic;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(56, 182, 255), 0 0 0.2em blue;
}
i{
    color:rgb(56, 182, 255);
    padding-right: 4px;
}
.name h2{
    margin-top: 29px;
    background: linear-gradient(90deg,rgb(6, 8, 56),rgb(56, 182, 255),rgb(255, 45, 20),white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 14px;
    text-transform: uppercase;
    border-radius: 15px;
    //text-shadow: 1px 1px 2px rgb(56, 182, 255), 0 0 1em blue, 0 0 0.2em blue;
}
.navbar a{
    color:rgb(56, 182, 255);
    text-decoration: none;
    text-align: center;
    min-width: 90px;
    background: rgb(6, 8, 8, 0.3);
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.navbar a:hover{
    color:rgb(56, 182, 255,.4);
    padding-bottom: 4px;
    border-bottom: 3px solid rgb(255, 45, 20);
    border-radius: 0;
    transition: transform 800ms ease-in-out;
}
#signup{
    background: rgb(56, 182, 255);
    color: rgb(255, 45, 20);
    text-transform: uppercase;
    text-decoration: underline;
}
#signup i{
    color: rgb(6, 8, 56);
}
#signup a{
    padding-left: 32px;
}
#signup:hover{
    color: black;
}
.head{
    display: flex;
    border-radius: 25px;
    padding: 1.5%;
    margin-left: 2%;
    clear: right;
}
.head img{
    padding-top: 10px;
    z-index: 11;
    width: 80px;
    height: 80px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: -70px;
    background: linear-gradient(60deg,rgb(56, 182, 255), rgb(255, 45, 20,0.8), white);
    position: fixed;
    border: 2px solid rgb(56, 182, 255);
}

@media only screen and (max-width: 928px) {
    .navbar{
        display: block;
        padding: .2%;
        background-repeat: no-repeat;
        margin-top: 2px;
    }
    i{
        align-self: left;
        visibility: visible;
        padding-left: 15px;
    }
    #signup i{
        color: rgb(255, 45, 20);
    }
    #signup i:hover{
        color: rgb(10,1,2);
    }
    .navbar a{
        font-size: 17px;
        display: block;
        text-align: left;
        padding: 3px;
        padding-left: 2%;
        width: 130px;
        margin-top: 2%;
        border-radius: 15px;
        text-transform: uppercase;
    }
    .navbar a:hover{
       border-bottom: 3px solid rgb(56, 182, 255);
       text-decoration: none;
       border-top: 2px solid rgb(56, 182, 255);
       border-radius: 15px;
    }
    #signup:hover{
        border-bottom: 3px solid rgb(56, 182, 255);
       text-decoration: none;
       border-top: 3px solid rgb(56, 182, 255);
       background: rgb(0, 0, 0,0.3);
       color: rgb(255, 45, 20);
    }
    .head{
        margin-left: 2%;
    }
    .head{
        display: block;
    }
    .head img{
        height: 70px;
        width: 70px;
    }
    a i{
        visibility: visible;
        font-size: 39px;
        padding-right: 13px;
        color:rgb(56, 182, 255);
    }
    .name h2{
        max-width: 400px;
        text-align: left;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-radius: 12px;
    }
}
