body{
    background: rgb(0, 0, 5,.9);
}

table{
    width: 90vw;
    border: 3px solid rgb(56, 182, 255);
    box-shadow: 3px 3px white;
    text-align: center;
    background: rgb(20, 20, 20,0.9);
    color: rgb(56, 182, 255);
}
td{
    border-bottom: 2px solid white;
    border-right: 2px solid green;
    color: rgb(56, 182, 255)
}
tr th{
    border: 3px solid crimson;
    color: rgb(56, 182, 255);
}
input[type='checkbox'] {
    cursor: pointer;
    accent-color:rgb(255, 45, 20);
}
.comt{
    border: 3px solid rgb(255, 45, 20);
    color:rgb(6, 8, 56);
    background: rgb(56, 182, 255);
    max-width: 200px;
    min-height: 40px;
    height: auto;
    max-height: 100px;
    overflow: hidden;
    resize: none;
    padding: 3px;
}
.reg{
    max-width: 90px;
    outline: none;
    color: rgb(56, 182, 255);
    background: rgb(20, 20, 20,0.9);
    border: 2px solid rgb(20, 20, 20,0.9);
    text-align: center;
}
.name{
    max-width: 90px;
    outline: none;
    color: rgb(56, 182, 255);
    background: rgb(20, 20, 20,0.9);
    border: 2px solid rgb(20, 20, 20,0.9);
    text-align: center;
}
.reg, .name:hover{
    outline: none;
}
.btn{
    padding: 1.5px;
    background: rgb(255, 45, 20);
    border:3px solid rgb(56, 182, 255);
    border-radius: 2px;
}
nav a{
   color: rgb(6, 8, 56);
   text-decoration: none;
   min-width: 23px;
   border: 2px solid rgb(56, 182, 255);
   box-shadow: 2px 2px rgb(255, 45, 20);
   padding: 4px;
   border-radius: 12px;
   margin: 6% auto;
   background: rgb(255, 255, 255);
}
nav a:hover{
    color:rgb(56, 182, 255);
    background: none;
    border: 2px solid rgb(56, 182, 255);
}
nav{
    text-align: center;
    margin-left: 150px;
    padding: 16px;
    max-width: 450px;
    margin-top: 100px;
}
.img{
    width: 80px;
    height:80px;
    background: rgb(56, 182, 255,0.6);
    position:fixed;
    margin-top: -80px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
@media only screen and (max-width: 698px){
    nav{
        display: flex;
        flex-direction: column;
        margin-top: 50px; 
    }
    .img{
        margin-top: 20px;
    }
}